* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:-apple-system,BlinkMacSystemFont,
    "SF Pro Display",
    "Helvetica Neue",
    Arial,
    sans-serif;
}


html {
    scroll-behavior:smooth;
}


body {
    background:#ffffff;
    color:#1d1d1f;
}



/* Navigation */

nav {

    position:fixed;
    top:0;
    width:100%;

    height:70px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 8%;

    background:rgba(255,255,255,0.75);

    backdrop-filter:blur(20px);

    z-index:100;

}


.logo {

    font-size:28px;
    font-weight:600;

}


.nav-links a {

    margin-left:35px;

    text-decoration:none;

    color:#1d1d1f;

    font-size:16px;

}




/* Hero */

.hero {

    min-height:100vh;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:80px;

    padding:120px 10% 60px;

}



.text {

    max-width:550px;

}


h1 {

    font-size:72px;

    line-height:1.05;

    letter-spacing:-3px;

}



.text p {

    margin-top:30px;

    font-size:22px;

    color:#6e6e73;

    line-height:1.5;

}



.button {

    display:inline-block;

    margin-top:40px;

    padding:15px 35px;

    background:#000;

    color:white;

    border-radius:30px;

    text-decoration:none;

    transition:.3s;

}



.button:hover {

    transform:scale(1.05);

}



/* photo */

.photo img {

    width:320px;

    height:400px;

    object-fit:cover;

    border-radius:40px;

    box-shadow:
    0 30px 60px rgba(0,0,0,.15);

}



/* sections */


section:not(.hero){

    padding:100px 10%;

    text-align:center;

}



section h2 {

    font-size:45px;

    margin-bottom:30px;

}



section p {

    font-size:20px;

    color:#6e6e73;

}



/* footer */


footer {

    text-align:center;

    padding:40px;

    color:#888;

}



/* mobile */

@media(max-width:800px){

.hero{

    flex-direction:column;

    text-align:center;

}


h1{

    font-size:48px;

}


.photo img{

    width:260px;

    height:330px;

}

}
